// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "actors";
@import "movies";
@import "scaffolds";
@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  margin: 80px 33px 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.nav-item a {
  padding: 20px;
  margin: 10px 0;
  text-decoration: none;
  color: white !important;
}

.nav-item :hover, #logo:hover {
  color: grey !important;
  background: transparent;
  text-decoration: none !important;
}

#logo {
  font-size: 25px;
  color: white;
}
h1 {
  margin: 20px 0;
}